name: SecureVault CI

on:
  push:
    branches:
      - develop
      - main
      - release/**
  pull_request:
    branches:
      - develop
      - main

jobs:
  backend-build:
    name: Backend Build (.NET 8)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore SecureVault.sln

      - name: Build
        run: dotnet build SecureVault.sln --configuration Release --no-restore

  frontend-build:
    name: Frontend Build (React)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install & Build
        run: |
          cd SecureVault.Web
          npm ci
          npm run build

  backend-security:
    name: Backend Security Scan
    runs-on: ubuntu-latest
    needs: backend-build

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Dependency Vulnerability Scan
        run: dotnet list SecureVault.sln package --vulnerable || true

      - name: Treat warnings as errors
        run: dotnet build SecureVault.sln --configuration Release -warnaserror

  frontend-security:
    name: Frontend Security Scan
    runs-on: ubuntu-latest
    needs: frontend-build

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: NPM Audit
        run: |
          cd SecureVault.Web
          npm ci
          npm audit --audit-level=high || true